.contact-form
	= render "layouts/frontend/messages"
	= simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control", placeholder: "Nombre", required: "required"}

			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				= f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required"}

			.col-lg-12
				= f.input :subject, label: false, input_html: {class: "form-control", placeholder: "Asunto"}

			.col-lg-12
				= f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje..."}
		.form-actions
			= recaptcha_tags
			= f.button :submit, "Enviar", class: "pull-right"

		