.container
	%h2.section-title
		LLEVEMOS TU NEGOCIO AL SIGUIENTE NIVEL
	%hr.section-hr
	.col-lg-6.col-md-6.col-sm-6.col-xs-12
		= render "keppler_contact_us/messages/form"
	.col-lg-6.col-md-6.col-sm-6.col-xs-12
		.contact-info
			%p.hidden-xs{ style: "font-size: 18px;"}
				Puedes comunicarte con nosotros de
				%b 8am
				a 
				%b 4pm 
				de lunes a viernes, también te invitamos a contactarnos por medio de un email o formulario.
			%ul
				%li 
					%span Dirección: 
					%div
						Calle Paez entre Bolivia y Ecuador, Punto Fijo - Edo. Falcón.
				%li 
					%span Ventas.
					%div
						Télefono: +58 0414-6738572
					%div
						Email: contact@inyxtech.com
				%li 
					%span Soporte. 
					%div
						Télefono: +58 0412-0690606
					%div
						Email: support@inyxtech.com