.container
	%h2.section-title
		ELLOS CONFIARON EN NOSOTROS
	%hr.section-hr
	.row
		- @attachments_web.each do |attachment|
			.col-lg-4.col-md-4.col-sm-4.col-xs-12#image-column-portfolio
				.mask-portfolio
					= link_to attachment.target, target:"_blank" do				
						%span.fa-stack
							%i.fa.fa-circle.fa-stack-2x
							%i.fa.fa-link.effect.fa-inverse.fa-stack-1x
				.image-portfolio{style:"background-image: url(#{attachment.image});"}

