.container
	%h2.section-title
		HAGAMOS QUE TU NEGOCIO CREZCA
	%hr.section-hr
	.row.document-services.hidden-xs
		.col-lg-4-col-md-4.col-sm-4.col-xs-4
			.item-services
				= link_to "#web-design", "aria-controls" => "web-design", role: "presentaition", "data-toggle"=>"tab", id: "#link-web-design", class: "active" do
					%span.fa-stack
						%i.fa.fa-circle.fa-stack-2x
						%i.fa.fa-paint-brush.effect-up.fa-inverse.fa-stack-1x
						%i.fa.fa-tablet.effect.fa-inverse.fa-stack-1x
		.col-lg-4-col-md-4.col-sm-4.col-xs-4
			.item-services
				= link_to "#software-development", "aria-controls" => "software-development", role: "presentaition", "data-toggle"=>"tab", id: "#link-software-development" do
					%span.fa-stack
						%i.fa.fa-circle.fa-stack-2x
						%i.fa.fa-gear.effect-up.fa-inverse.fa-stack-1x
						%i.fa.fa-laptop.effect.fa-inverse.fa-stack-1x
		.col-lg-4-col-md-4.col-sm-4.col-xs-4
			.item-services
				= link_to "#business-cloud", "aria-controls" => "software-development", role: "presentaition", "data-toggle"=>"tab", id: "#business-cloud" do
					%span.fa-stack
						%i.fa.fa-circle.fa-stack-2x
						%i.fa.fa-cloud.effect-up.fa-inverse.fa-stack-1x
						%i.fa.fa-money.effect.fa-inverse.fa-stack-1x
	.tab-content.hidden-xs
		#web-design.tab-pane.active
			.row
				.col-lg-6.col-md-6
					= image_tag "frontend/services-web-design.png", style: "padding-top: 15px;"
				.col-lg-6.col-md-6
					.title
						POTENCIAMOS TU MARCA EN LA WEB
					%p 
						Cuando se trata de la construcción de un sitio web, damos nuestro mejor esfuerzo sin importar si eres una pequeña o gran empresa.
					%p
						Nuestro talentoso equipo de profesionales crean diseños web atractivos y dinámicos que proyectan de forma fuerte y consistente tu imagen, tienen como característica principal el ser accesible desde diferentes dispositivos y plataformas. Mientras que nuestros desarrolladores web construyen un sistema de gestión de contenido personalizado (CMS).
					%p
						Siguiendo las mejores prácticas y el uso de tecnologías modernas, nos aseguraremos de que su sitio web esté optimizado y sea accesible por los motores de búsqueda. Mediante la utilización de diversas herramientas de vanguardia, también podemos aprovechar el poder de los medios sociales e integrarlos en su sitio. Todos estos elementos trabajan juntos y sin problemas para maximizar su exposición en la internet.

		#software-development.tab-pane.fade
			.row
				.col-lg-6.col-md-6
					.title
						CREAMOS HERRAMIENTAS QUE AUMENTAN TU PRODUCTIVIDAD
					%p
						Nos especializamos en desarrollo de software a la medida y servicios de consultoría para pequeñas y medianas empresas, ayudándoles a reducir los riesgos en la ejecución de proyectos, aceleramos los proceso proporcionando metodologías ágiles para el desarrollo de software.
					%p
						Cuando se trabaja en un proyecto, siempre ponemos a nuestros clientes y sus necesidades en primer lugar. Esto significa no usar el mismo enfonce de desarrollo para cada proyecto, si no que en función de las expectativas, alcance y especificaciones, utilizamos metodologías ágiles, ya sea, como Scrum y Kanban, o metodologías de desarrollo incrementales estándar.
				.col-lg-6.col-md-6
					= image_tag "frontend/software-development.png", style: "padding-top: 45px;"
		#business-cloud.tab-pane.fade
			.row
				.col-lg-6.col-md-6
					= image_tag "frontend/business-cloud.jpg", style: "margin-top: -30px;"
				.col-lg-6.col-md-6
					.title
						LLEVAMOS TU MODELO DE NEGOCIO A LA NUBE
					%p
						Vemos la nube como una nueva posibilidad de mercado en donde puedes conectarte con más clientes sin importar su ubicación.
					%p
						Elaboramos y desarrollamos estrategias que permiten ofrecer tus servicios a través de procesos teconológicos los cuales impulsan la generación de ventas y beneficios para la aportación de valor y la satisfacción de las necesidades de los clientes.
					%p
						Todo los proyectos exitosos tienden a crecer, por este motivo te asesoramos para que que lleves tu modelo de negocio a un rumbo en el que puedas hacerlo totalmente adaptable y escalable mediante metodologias y tecnicas modernas.


	.tab-content.visible-xs
		#web-design.tab
			.row
				.col-lg-6.col-md-6
					= image_tag "frontend/services-web-design.png", style: "padding-top: 15px;"
				.col-lg-6.col-md-6
					.title
						POTENCIAMOS TU MARCA EN LA WEB
					%p 
						Cuando se trata de la construcción de un sitio web, damos nuestro mejor esfuerzo sin importar si eres una pequeña o gran empresa.
					%p
						Nuestro talentoso equipo de profesionales crean diseños web atractivos y dinámicos que proyectan de forma fuerte y consistente tu imagen, tienen como característica principal el ser accesible desde diferentes dispositivos y plataformas. Mientras que nuestros desarrolladores web construyen un sistema de gestión de contenido personalizado (CMS).
					%p
						Siguiendo las mejores prácticas y el uso de tecnologías modernas, nos aseguraremos de que su sitio web esté optimizado y sea accesible por los motores de búsqueda. Mediante la utilización de diversas herramientas de vanguardia, también podemos aprovechar el poder de los medios sociales e integrarlos en su sitio. Todos estos elementos trabajan juntos y sin problemas para maximizar su exposición en la internet.
		#software-development.tab
			.row
				.col-lg-6.col-md-6
					= image_tag "frontend/software-development.png", style: "padding-top: 45px;"
				.col-lg-6.col-md-6
					.title
						CREAMOS HERRAMIENTAS QUE AUMENTAN TU PRODUCTIVIDAD
					%p
						Nos especializamos en desarrollo de software a la medida y servicios de consultoría para pequeñas y medianas empresas, ayudándoles a reducir los riesgos en la ejecución de proyectos, aceleramos los proceso proporcionando metodologías ágiles para el desarrollo de software.
					%p
						Cuando se trabaja en un proyecto, siempre ponemos a nuestros clientes y sus necesidades en primer lugar. Esto significa no usar el mismo enfonce de desarrollo para cada proyecto, si no que en función de las expectativas, alcance y especificaciones, utilizamos metodologías ágiles, ya sea, como Scrum y Kanban, o metodologías de desarrollo incrementales estándar.
		#business-cloud.tab
			.row
				.col-lg-6.col-md-6
					= image_tag "frontend/business-cloud.jpg", style: "margin-top: -30px;"
				.col-lg-6.col-md-6
					.title
						LLEVAMOS TU MODELO DE NEGOCIO A LA NUBE
					%p
						Vemos la nube como una nueva posibilidad de mercado en donde puedes conectarte con más clientes sin importar su ubicación.
					%p
						Elaboramos y desarrollamos estrategias que permiten ofrecer tus servicios a través de procesos teconológicos los cuales impulsan la generación de ventas y beneficios para la aportación de valor y la satisfacción de las necesidades de los clientes.
					%p
						Todo los proyectos exitosos tienden a crecer, por este motivo te asesoramos para que que lleves tu modelo de negocio a un rumbo en el que puedas hacerlo totalmente adaptable y escalable mediante metodologias y tecnicas modernas.


	.row.wrapper
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.wrapper-services
				%i.fa.fa-tablet{ style: "color:#1976D2"}
				.title
					DISEÑO RESPONSIVE
				.description
					Nuestros diseños son desarrollados bajo un marco de adaptación para cualquier dispositivo como teléfonos móviles, tablets y desktops.
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.wrapper-services
				%i.fa.fa-code{ style: "color:#FF5252"}
				.title
					CÓDIGO LIMPIO
				.description
					Utilizamos estándares de desarrollo de tal manera que nos obligamos a escribir código legible y entendible para hacer más fácil su mantenimiento.
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.wrapper-services
				%i.fa.fa-search{ style: "color:#009688"}
				.title
					AMIGABLE AL SEO
				.description
					Seguimos las mejores prácticas para que el contenido de su sitio sea debidamente indexado por todos los motores de búsqueda.
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.wrapper-services
				%i.fa.fa-magic
				.title
					UX | UI
				.description
					Creamos interfaces con funcionamientos totalmente deducibles y fáciles de usar para lograr la mejor experiencia de usuario.
					
:javascript
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		$(".document-services").find('.active').removeClass('active')
		$(e.target).addClass('active')
	})

