.blog-widget
	.blog-widget--header
		%h3.widget-title
			Categorías
	.blog-widget--body
		%ul.widget-list#categories
			- @categories.each do |category|
				%li
					= link_to category.name.mb_chars.upcase, filter_path('category', category.permalink), class: "dropdown-toggle #{'active' if category.permalink.eql?(params[:permalink]) or category.permalink.eql?(params[:category])}" 