%head
	%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Inyxtech - Desarrollo web, E-commerce & Diseño web - Venezuela'
	%meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Especialistas en diseño y desarrollo web así como tambien servicios de consultoría para pequeñas y medianas empresas, ayudándoles a reducir los riesgos en la ejecución de proyectos, aceleramos los proceso proporcionando metodologías agiles para el desarrollo de software.'}"}
	%meta{name: "keywords", content: "diseño web, desarrollo web, desarrollo de software, ecommerce, development, cms, web develpment, web design, Punto Fijo, inyxtech, Venezuela, keppler, keppler cms"}
	%meta{ property: "fb:app_id", content: KepplerBlog.facebook_app_id }
	%meta{ property: "fb:image", content: "#{content_for?(:fb_image) ? yield(:fb_image) : nil}" }
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/logo.png"
	= csrf_meta_tags
	:javascript
		WebFontConfig = {
			google: { families: [ 'Lato:400,300:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();