%li
	= link_to 'HOME', controller_name.eql?("frontend") ? "#home" : main_app.root_path(anchor: "home")

%li
	= link_to 'SERVICIOS', controller_name.eql?("frontend") ? "#services" : main_app.root_path(anchor: "services")

%li
	= link_to 'NOSOTROS', controller_name.eql?("frontend") ? "#about" : main_app.root_path(anchor: "about")

%li
	= link_to 'PORTAFOLIO', controller_name.eql?("frontend") ? "#portfolio" : main_app.root_path(anchor: "portfolio")

%li{ class: "#{'current' if controller_path.camelize.deconstantize.eql?('KepplerBlog')}"}
	= link_to "BLOG", '/blog', class: "external"

%li
	= link_to 'CONTACTO', controller_name.eql?("frontend") ? "#contact_us" : main_app.root_path(anchor: "contact_us"), class: "#{'external' unless controller_name.eql?("frontend")}"
