%nav.navbar.navbar-default.navbar-fixed-top#front-navbar{ class: "#{'background-show' unless controller_name.eql?('frontend')}"} 
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = image_tag "frontend/logo.png", alt: "logo inyxtech"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav{ class: "#{'top-nav' if controller_name.eql?('frontend')}"}     
        = render 'layouts/frontend/navigation_links'


- if controller_name.eql?('frontend')
  :javascript
    window.onscroll = function (event) {
      if($(window).scrollTop() <= 100) {
        $("#front-navbar").removeClass("background-show");
        $("#front-navbar").addClass("background-hide");
      } else {
        $("#front-navbar").removeClass("background-hide");
        $("#front-navbar").addClass("background-show");
      }
    }
- else 
  :javascript
    window.onscroll = null
