= title("<%= plural_table_name.capitalize %> - Listado")
.listing.col.l9.m12.s12
<<<<<<< HEAD
	= link_to new_<%= singular_table_name %>_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only" do
		= material_icon.md_24.add
=======
	- if can? :new, model
		= link_to new_<%= singular_table_name %>_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only" do
			= material_icon.md_24.add
>>>>>>> base/master
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |<%= singular_table_name %>|
				= render 'listing', <%= singular_table_name %>: <%= singular_table_name %>
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							No se han encontrado <%= plural_table_name %>.
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

<<<<<<< HEAD

= link_to new_<%= singular_table_name %>_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
	= material_icon.md_24.add.css_class("md-light")
=======
- if can? :new, model
	= link_to new_<%= singular_table_name %>_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
		= material_icon.md_24.add.css_class("md-light")
>>>>>>> base/master
