#about {
	background: $bg-secondary;
	padding: 70px 0px;
	
	.group-according {
		margin-top: 20px;
		@include phone-all {
			margin-top: 0px;
		}
	}

	.according-head {
		a {
			text-decoration: none;
			font-size: 1.3em;
			font-weight: 300;
		}

		#briefcase {
			color: #1976D2 !important;
		}

		#question {
			color: #FF5252 !important;
		}

		#group{
			color: #009688 !important;
		}

		i {
			margin-right: 10px;
			font-size: 1.2em;
			@include transition(100ms)
		}
	}

	.according-head:hover {
		i {
			@include transform(scale(1.4));
		}
	}

	.according-body {
		padding-top: 5px;

		p {
			font-size: 1.1em;
			font-weight: 300;
			text-align: justify;
		}
	}

	.mobile-show {
		position: relative;
		opacity: 0;
		left: -600px;
	}
}





