//Responsive design
$desktop-large: "(min-width:1600px)";
$desktop: "(min-width:992px)";
$tablet: "(min-width:768px)";
$tablet-portrait: "(min-width:768px) and (orientation : portrait)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";

//fuentes
$font-type: 'Roboto', sans-serif;

//colores
$primary-color: #FFC107;
$bg-primary: #fff;
$bg-secondary: #f5f5f5;

//media
@mixin phone-all{
  @media #{$phone} {
    @content
  }
  @media #{$phone-landscape} {
    @content
  }
}

//transition
@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
  -ms-transition:$time;
  transition: $time;
}

//transform
@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

//animation
@mixin animation($name, $duration, $iteration, $direction) {
  -webkit-animation: $name $duration $iteration $direction;
  -moz-animation: $name $duration $iteration $direction;
  -o-animation: $name $duration $iteration $direction;
  -ms-animation: $name $duration $iteration $direction;
}

//keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
  
.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.section-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;  
  font-weight: 300;
  @include phone-all {
    font-size: 1.5em;
  }
}

.section-hr {
  border-bottom: 1px solid #ccc;
  max-width: 400px;
  margin-bottom: 50px;

  @include phone-all {
    margin-bottom: 40px;
  }
}

#nprogress {
  .spinner{
    z-index: 999999;
    top: 15px;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-top-color: #29d;
    border-left-color: #29d;

    width: 40px;
    height: 40px;

    @include phone_all {
      display: none;
    }

    @media #{$tablet-portrait} {
      display: none;
    }
  }
}
