#contact_us {
	padding: 70px 0px;
	background: image-url("frontend/contact-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: white;

	hr {
		@extends .section-hr
		border-bottom: 0.5px solid;
		border-color: rgba(255,255,255,.1);
		@media #{$phone} {
			border-color: rgba(255,255,255,.3);
		}
	}

	input, textarea {
		background-color: transparent;
		margin-bottom: 10px;
		border-color: rgba(255,255,255,.1);
		height: 50px;
		border-radius: 0;
		box-shadow: none;
		color: white;
		font-weight: 300;
		@media #{$phone} {
			border-color: rgba(255,255,255,.3);
		}
	} 

	textarea {
		min-height: 200px;
		resize: none;
	}
	
	.form-actions{
	  .g-recaptcha{
	  	width: 50%;
	  	display: inline-block;
			div:nth-child(1) {
				transform: scale(0.82);
				transform-origin: 0 0;
		  }
	  }	

		.btn {
			background-color: $primary-color;
			border-radius: 0px;
			width: 100px;
			@media #{$phone} {
		  	width: 100%;
		  	margin-top: -22px;
			}
		}
	}

	.btn:hover {
		background-color: #E6AC01;
		i {
			color: white;
		}
	}

	.contact-info {
		margin-top: 20px;
		padding-left: 70px;
		font-size: 1.1em;
		font-weight: 300;
		@include phone-all {
			padding: 0px;
		}

		ul {
			margin-top: 20px;
			list-style-type: none;
			padding-left: 0px;
			li{
				margin-top: 15px;
			}
		}

		span {
			font-weight: 400;
		}
	}	
}







