footer {
	background-color: #272727;
	color: white;

	.socials {
		padding: 30px;
		text-align: center;

		.logo-inyxtech {
			margin-bottom: 20px;
			width: 180px;
		}

		.icons-social {
			text-align: center;
			list-style: none;
			padding: 0;
			margin: 0;
			display: inline-block;

			li {
				float: left;
				margin-right: 8px;

				a {
					color: #fff;
					background-color: rgba(0,0,0,.4);
					border-radius: 3px;
					height: 36px;
					width: 36px;
					line-height: 36px;
					display: block;
					font-size: 16px;
					opacity: 0.8;
					@media #{$phone}{
						height: 28px;
						width: 28px;
						line-height: 28px;
					}
				}

				a:hover {
					@include transform(scale(1.2));
					@include transition(300ms);
				}

				.twitter:hover {
					background-color: #2ac6f7;
				}

				.facebook:hover {
					background-color: #3b5999;
				}

				.linkedin:hover {
					background-color: #036dc0;
				}

				.google-plus:hover {
					background-color: #d34836;
				}

				.envelope:hover {
					background-color: #009688;
				}

				.github:hover {
					background-color: #CECB26;
				}
			}
		}
	}

	.credits {
		background-color: #272727;
		border-top: 1px solid #1c1c1c;
		-webkit-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
		-moz-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
		box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
		padding: 20px;
		font-weight: 300;
		
		.row {
			margin-left: 70px;
			margin-right: 70px;
			@media #{$phone} {
				margin: 0px;
			}
		}

		p {
			text-align: left;
			color: white;
			font-size: 1em;
			margin-bottom: 3px;
			@media #{$phone} {
				text-align: center;
			}
			@media #{$phone-landscape} {
				text-align: center;
			}

			.slicegroup{
				color: white !important;
				font-weight: bold !important;
				margin-left: 2px;
			}
		}

		span {
			float: right;
			margin-left: 2px;
			@media #{$phone} {
				margin: 0px;
				float: none;
				text-align: center;
			}
			@media #{$phone-landscape} {
				margin: 0px;
				float: none;
				text-align: center;
			}
		}

	}
}





