#home {
	padding-top: 50px;
	background: image-url("frontend/header-bg.jpg") no-repeat fixed;
	background-size: 100%;
	background-position: 0 100;
	color: white;
	@include phone-all {
		background-size: 150% 100%;
	}
	@media #{$tablet} {
		background-size: 100% 800px;
	}
	@media #{$tablet-portrait} {
		background-size: 100% 100%;
	}
	
	.container-title{
		height: 270px;
		@include phone-all {
			height: 150px;
		}
	}

	span {
		color: white;
	}

	.image-desktop{ 
		position: relative;
		overflow: hidden;

		#img-desktop {
			position: relative;
			width: 100%;
			margin-top: 30px;
			@media #{$desktop} {
				-webkit-animation: image-desktop 1s alternate;
				animation: image-desktop 1s;
			}
		}
	}

	h1 {
		text-align: center;
		position: relative;
		margin-top: 130px;
		color: white;
		font-weight: 300;
		font-size: 2.2em;
		-webkit-animation: title-home 1s;
		animation: title-home 1s;
		@media #{$phone} {
			margin-top: 100px;
			font-size: 1.5em;
		}
		@media #{$phone-landscape} {
			margin-top: 80px;
			font-size: 1.8em;
		}
		@media #{$tablet} {
			font-size: 2.2em;
		}
	}

	h3 {
		opacity: 0;
		font-size: 30px;
		font-weight: 300;
	}

	#text-one {
		opacity: 0;
		padding-top: 80px;
		text-align: center;

		h5 {
			font-weight: 700;
		}

		small {
			font-size: 16px;
			font-weight: 300;
		}

		img {
			padding-top: 20px;
		}

	}

	#text-two {
		opacity: 0;
		padding-top: 150px;
		text-align: center;

		h5 {
			font-weight: 700;
		}

		small {
			font-size: 16px;
			font-weight: 300;
		}

	}

	.show {
		-webkit-animation: show 1s;
		animation: show 1s;
	}
}


/*keyframes*/
@include keyframes(image-desktop) {
  0% { bottom: -500px; }
	100% { bottom: 0px; }
}

@include keyframes(title-home) {
  0% { top: -100px; }
	100% { top: 0px; }
}

@include keyframes(show) {
  0% { opacity: 0; }
	100% { opacity: 1; }
}
