#front-navbar.navbar-default {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	@include phone-all {
		padding-top: 10px;
		padding-bottom: 10px;
		padding: 10px 0px 10px 0px!important;
		background-color: $primary-color;
	}
	@media #{$tablet-portrait}{
		padding: 10px 0px 10px 0px!important;
		background-color: $primary-color;
	}

	.navbar-brand{
		display: block !important;
		margin: 0px;
		padding: 0px;
		position: relative;
		@media #{$phone} {
			padding-left: 15px;
		}
		@media #{$phone-landscape}{
			padding-left: 15px;
		}
		@media #{$tablet-portrait}{
			display: none !important;
		}
		img {
			width: 40px;
			margin-right: 20px;
			position: relative;
			top: 5px;
		}
	}

	.navbar-collapse{
		border: 0px;
	}
	

	.navbar-toggle{
		border-color: white;
		.icon-bar{
			background-color: white;
		}
	}

	.navbar-toggle:hover{
		background-color: transparent;
	}

	.navbar-toggle:focus{
		background-color: rgba(0, 0, 0, 0.08);
	}

	a{
		font-weight: 400;
		color:white;
		letter-spacing: 2px;
	}
	
	a:hover {
		color: rgb(126, 126, 126);
		font-weight: 400;
		-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
	}

	li.current {
		a {
			color: rgb(126, 126, 126);
			letter-spacing: 2px;
			font-weight: 400;
		}
	}

	.navbar-brand {
		color: white;
		font-size: 20px;
		@media #{$tablet}{
			display: none;
		}
	}
}


.background-show{
	padding: 10px 0px 10px 0px!important;
	background-color: $primary-color !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	@include transition(.2s);
}

.background-hide {
	padding: 20px 0px 20px 0px!important;
	background-color: transparent !important;
	@include transition(.2s);
	@include phone-all {
		padding: 10px 0px 10px 0px!important;
		background-color: $primary-color !important;
	}
	@media #{$tablet-portrait} {
		padding: 10px 0px 10px 0px!important;
		background-color: $primary-color !important;
	}
}
