#portfolio{
	padding: 70px 0px;

	.image-portfolio{
		height: 220px;
		width: 101%;
		background-repeat: no-repeat;
		background-size: 100%;
		@include transition(.3s);
		@include phone-all {
			height: 200px;
			background-size: 100% 100%;
		}
	}

	#image-column-portfolio{
		padding-left: 0px;
		padding-right: 0px;
		overflow: hidden;
	}	
	
	#image-column-portfolio:hover{
		.mask-portfolio{
			top:0px;
			z-index: 2;
			@include transition(.3s);
		}
		.image-portfolio{
			@include transform(scale(1.2) rotate(4deg));
			@include transition(.3s);
		}
	}	

	.mask-portfolio{
		position: absolute;
		top: -100%;
		width: 101%;
		height: 100%;
		background-color: rgba(97, 97, 97, 0.5);
		@include transition(.3s);
		.fa-stack {
			position: relative;
			display: inline-block;
			font-size: 2em;
			width: 100%;
			line-height: 2em;
			vertical-align: middle;
			color: $primary-color;
			text-align: center;
			top: 36%;
		}
	}
}

