#services {
	padding: 70px 0px;

	.item-services {
		text-align: center;
		@include phone-all {
			margin-top: 10px;
		}

		a{
			font-size: 70px;
			color: #333;
			
			.fa {
				z-index: -1;
			}
			
			span {
				overflow: hidden;
			}
			
			@media #{$desktop} {
				.fa-stack:hover {
					.fa-gear {
						@include animation(spin, 2s, infinite, linear);
					}

					.fa-cloud {
						@include animation(cloud, 2s, infinite, linear);
					}

					.fa-paint-brush {
						@include animation(paint, 2s, infinite, linear);
					}
				}
			}

			.fa-gear {
				top: 0px;
				@include transition(.3s);
			}

			.fa-laptop {
				top: 100px;
				@include transition(.3s);
			}

			.fa-paint-brush {
				top: 0px;
				@include transition(.3s);
			}

			.fa-tablet {
				top: 100px;
				@include transition(.3s);
			}

			.fa-cloud {
				top: 0px;
				@include transition(.3s);
			}

			.fa-money {
				top: 100px;
				@include transition(.3s);
			}
		}

		.active > span {
			color: $primary-color;
			
			.effect-up {
				top: -200px;
				@include transition(.3s);
			}

			.effect {
				top: 0px;
				@include transition(.3s);
			}
		}
	}

	.tab-content {
		padding: 50px 0px 20px 0px;
		@include phone-all {
			padding-top: 10px;

			.tab{
				margin-bottom: 20px;
				border-bottom: solid 1px #dddddd;
				padding-bottom: 60px;
			}

			#business-cloud {
				margin-top: 60px;
			}
		}

		p {
			text-align: justify;
			font-size: 1.1em;
			font-weight: 300;
		}

		.title {
			text-align: center;
			font-size: 24px;
			font-weight: 300;
			color: #333;
			margin: 10px 0px 10px 0px;
			@include phone-all {
				font-size: 1em;
				font-weight: 600;
			}
		}
		
		#software-development {
			padding-top: 0px;
		}

		#web-design {
			padding-top: 0px;
		}
	}
	
	@media #{$phone} {
		.wrapper {
			margin-top: -10px;
		}
	}

	.wrapper-services {
		text-align: center;	
		margin-top: 40px;

		i {
			font-size: 60px;
			color: $primary-color;
		}

		.title {
			font-size: 1.3em;
			font-weight: 300;
			color: #333;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.description {
			font-size: 1.1em;
			font-weight: 300;
		}
	}
}

/*keyframes*/
@include keyframes(spin) {
  0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@include keyframes(cloud) {
  0% { -webkit-transform: translate(0px); }
	25% { -webkit-transform: translate(0px, -5px); }
	50% { -webkit-transform: translate(0px, 0px); }
	75% { -webkit-transform: translate(0px, 5px); }
	100% { -webkit-transform: translate(0px); }
}

@include keyframes(paint) {
  0% { -webkit-transform: rotate(0deg); }
	25% { -webkit-transform: rotate(10deg); }
	50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(-10deg); }
	100% {-webkit-transform: rotate(0deg); }
}


